{% extends "base.html" %}
{% load static %}
{% block title %}Weapons - Starfield Shmawshmield{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'weapons/css/styles.css' %}">
        <main>
            <div class="weapon-table-container">
                <table class="weapon-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rarity</th>
                            <th>Type</th>
                            <th>Damage</th>
                            <th>Ammunition</th>
                            <th>Mag Size</th>
                            <th>Fire Rate</th>
                            <th>Range</th>
                            <th>Accuracy</th>
                            <th>Mass</th>
                            <th>Mod Capacity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for weapon in weapons %}
                        <tr>
                            <td>{{ weapon.name }}</td>
                            <td>{{ weapon.rarity }}</td>
                            <td>{{ weapon.type }}</td>
                            <td>{{ weapon.dmg }}</td>
                            <td>{{ weapon.ammo }}</td>
                            <td>{{ weapon.mag }}</td>
                            <td>{{ weapon.fire_rate }}</td>
                            <td>{{ weapon.range }}</td>
                            <td>{{ weapon.accuracy }}</td>
                            <td>{{ weapon.mass }}</td>
                            <td>{{ weapon.mod_capacity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

{% endblock content %}