<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Items</title>
</head>
<body>
    <h1>All Items</h1>
    <h2>Weapons</h2>
    <ul>
        {% for weapon in weapons %}
        <li>{{ weapon.name }} - Rarity: {{ weapon.rarity }}</li>
        {% empty %}
            <li>No weapons found.</li>
        {% endfor %}
    </ul>
    <h2>Weapon Mod Prefixes</h2>
    <ul>
        {% for mod in weapon_mod_prefixes %}
            <li>{{ mod.name }} - Condition: {{ mod.condition }}</li>
        {% empty %}
            <li>No mod prefixes found.</li>    
        {% endfor %}
    </ul>
    <h2>Weapon Perks</h2>
    <ul>
        {% for perk in weapon_perks %}
            <li>{{ perk.name }} - Effect: {{ perk.effect }}</li>
        {% empty %}
            <li>No perks found</li>
        {% endfor %}
    </ul>
</body>
</html>