.item1 { grid-area: title; }
.item2 {
  grid-area: image;
  border-radius: 50%;
  overflow: hidden;
}
.item3 {
  grid-area: main;
  margin-left: 50px;
  margin-right: 50px;
}
.item4 { 
grid-area: right;
width: 200px;
}
.item5 { grid-area: footer; }
.item6 { grid-area: details; }
.item7 { grid-area: faction; }
.item8 { grid-area: gender; }
.item9 { grid-area: skills;}
.grid-container {
  display: grid;
  grid-template-areas:
    'image title title right right right'
    'image faction faction right right right'
    'details main main right right right'
    'skills main main right right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #070c0f;
  padding: 10px;
}

.grid-container > div {
  background-color: gray;
  text-align: center;
  padding: 20px 0;
  font-size: 17px;
}

.profile-image {
    background-size: cover; /* Ensures the background image covers the entire div */
    background-position: center; /* Centers the background image */
    width: 200px;
    height: auto;
    object-fit: cover;
}


