{% extends "base.html" %}
{% load static %}
{% block title %}Sarah Morgan{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'characters/css/styles.css' %}">
<div class="grid-container">
    <div class="item1">
        <h2>{{ character.name }}</h2>
    </div>
    <div class="item2">
        <img src="{% static 'characters/images/sarah_gif_bad.gif' %}" class="profile-image">
    </div>
    <div class="item3">{{ character.description }}</div>  
    <div class="item4">Right</div>
    <div class="item5">Footer</div>
    <div class="item6">{{ character.race }} - {{ character.gender }}</div>
    <div class="item7">{{ character.faction }}</div>
    <div class="item9">
        <h3>Skills</h3>
        <ul>
            {% for skills in skills %}
                <li>{{ skill.name }}: Level {{ skill.level }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}



