body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid;
}

.bg {
    background: url('/static/images/background_01.png') no-repeat fixed right top;
    background-size: cover;
    /* height: 100%; */

}

ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;  /*lång bakgrunds-grej. Flytta till li a om du vill ha en kort vit grej*/
    position: fixed;
    top: 0;
    width: 100%;
}

ul.menu-bar li {
    float: left;
}

ul.menu-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu-bar li a:hover:not(.active) {
    background-color: #111;
}

ul.menu-bar .active {
    background-color: #04aa6d;
}

h1 {
    margin-top: 45px;
}


footer p {
    color: blue;
}

p {
    color: black;
}