body {
    font-family: Arial, sans-serif;
    background-color: rgb(87, 119, 109);
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

