<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starfield Shmawshmield</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_site/css/styles.css' %}">
</head>
<body>
    <div class="banner">
        <!-- Background image is set via CSS, no need for img tag here -->
    </div>
    <header>
        <h1>Starfield Shmawshmield</h1>
        <nav>
            <a href="{% url "weapons:weapon_search" %}">
                <img src="{% static 'main_site/images/weapon_icon.png' %}" alt="Weapon Icon"></a>
            <a href="{% url 'weapons:display_all_items' %}">View All Items</a>
            <a href="{% url 'armor:display_all_armor_stuff' %}">
                <img src="{% static 'main_site/images/armor_icon.png' %}" alt="Armor Icon"></a>
        </nav>
    </header>

    <main>
        <section>
            <h2 class="flashing-text">Interesting Starfield Stuffs Goes Here!</h2>
            <p>This is where I will copy+paste interesting stuff about Starfield.</p>
        </section>

        <section>
            <h2 class="flashing-text">Look At All These Guns!!!!</h2>
            <p>Explore a vast array of weapons in Starfield</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Starfield Shmawshmield. All rights reserved.</p>
    </footer>
</body>
</html>
