.weapon-detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    margin: 16px;
    padding: 100px;
}

.weapon-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.weapon-info {
    max-width: 600px;
}